src/main/mule/AccountDetails.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	<flow name="AccountDetailsFlow" doc:id="bf6f7a99-ac5a-44ac-986c-19706bbed5d3" >
		<logger level="INFO" doc:name="Logger" doc:id="e522648b-744b-4e91-a58e-274bfb9f05af" message="message received from Account details---------------"/>
		<db:select doc:name="Select" doc:id="9f05d9ba-5e1c-48a5-a081-9593de620406" config-ref="Database_Config">
			<db:sql ><![CDATA[select * from account where accountId= :AccId;]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
  AccId:attributes.queryParams.accountId	
	
}]]]></db:input-parameters>
		</db:select>
		<ee:transform doc:name="Transform Message" doc:id="d44878e3-c09f-4661-bb81-cfaaf706a289" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
